/*  

    Font Lato:      font-family: 'Lato', sans-serif; 
    Font Courgette: font-family: 'Courgette', cursive;

*/

@import url(reset.css);

:root{
    --color1: #D4E0E8 ;
    --color2: #92B7C7 ; 
    --color3: #415E51 ; 
    --color4: #88A176 ; 
    --color5: #AABD93 ; 
    --color6: #D2D6B1 ; 
    --height: 56rem;
    --main-width: calc(100vw - 17px);
    --smile-offset: 150px
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    line-height: 15px;
    overflow-x: hidden; 
}

h1 {
    font-size:3.4 rem;
}

h2 {
    font-size:2.3 rem;
}

h3 {
    font-size:1.5 rem;
}

h4 {
    font-size:1 rem;
}

h5 {
    font-size:1 rem;
}

/* 
----------------------------------------------------------------------------------------------------------------------------------------------
START HEADER
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/


/* 
--------------------------------------
WHOLE HEADER
-------------------------------------- 
*/

header{
    background-color: var(--color1);
    height: 10rem;
    position: fixed;
    box-sizing: border-box;
    width: var(--main-width);
    z-index: 1;
    top: 0px;
    border: solid 1px black;
}

.flex-main-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
--------------------------------------
LOGO HEADER
-------------------------------------- 
*/

.header-logo{
    height: 10rem;
    box-sizing: border-box;
    padding: 1rem;
}

/* 
--------------------------------------
NAV-MENU HEADER
-------------------------------------- 
*/

.flex-container-header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;

}

nav a {
    font-size: 2.0rem;
    text-decoration: none;
    color: var(--color3);
    font-weight: 800;
}

/* 
----------------------------------------------------------------------------------------------------------------------------------------------
END HEADER
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/



/* 
----------------------------------------------------------------------------------------------------------------------------------------------
START MAIN
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/


/* 
--------------------------------------
MAIN WHOLE
-------------------------------------- 
*/


main{
    /* background-color: var(--color2); */
    min-height: calc(100vh - 20rem);
    width: var(--main-width)
}

/* 
--------------------------------------
HERO SECTION
-------------------------------------- 
*/

section.hero{
    margin-top: 10rem;
    height: 55rem;
    background-image: url(../img/hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
--------------------------------------
ABOUT ME SECTION
-------------------------------------- 
*/

/* Main styling for about me section */
section.aboutme{
    min-height : 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    background-color: var(--color5);
}

/* Container with photo and caption - AboutMe section */
.aboutme-photo-container{
    margin:5rem;
    margin-top: 12rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Styling image and text after hover  */
.aboutme-photo-container:hover{
    transform: scale(1.2);  
}

/* Styling text after hover into previous hover  */
.aboutme-photo-container p:hover{
    color: orange;   
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff ;
}


/* Photo inside container in AboutMe section */
.aboutme-photo-container img {
    width:  30rem;
    border-radius: 15rem;
    margin: 5rem;
    margin-bottom: 2rem;
    position: relative;
}

/* Styling for name and surname */
.photo-name{
    font-size: 4rem;
    color: var(--color3);
    font-weight: 900;
    text-transform: capitalize;
    margin: 1rem;
}

/* Styling for title  */
.photo-title{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 1rem;
    margin-bottom: 7rem;
    color: var(--color3);
    text-align: center;
}

/* Styling AboutMe text */
.aboutme-text {
    max-width: 80rem;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    margin: 4rem;
}

/* Styling smile after AboutMe text */
.smile{
    font-size: 5rem;
    text-align: center;
    animation: smileRolling 5s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out ;
    margin-bottom: 2rem;
}

@keyframes smileRolling {

    0% {
        transform:translateX(0px) rotate(0deg);
    }

    25% {
        transform:translateX(var(--smile-offset)) rotate(360deg);
    }

    50% {
        transform:translateX(0px) rotate(0deg);
    }

    75% {
        transform:translateX( calc(var(--smile-offset) - 2 * var(--smile-offset)) ) rotate(-360deg);
    }

    100% {
        transform:translateX(0px) rotate(0deg);
    }

}

/* 
--------------------------------------
EXPERIENCE SECTION
-------------------------------------- 
*/

/* Main styling for experience section */
section.exp{
    min-height : 50rem;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

/* Styling for description of this section */
.description-exp{
    font-size: 5rem;
    margin: 3rem;
    margin-bottom: 1rem;
    margin-top: 12rem;
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
    color: var(--color3);
    text-shadow: -2px 0 #000, 2px 0 #000, 0 -2px #000, 0 2px #000 ;
    text-align: center;
}

/* Styling for container with hitherto jobs */
.exp-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

/* Specific container with one job */
.exp-inside-container{
    
    border: solid 1rem var(--color1);
    border-radius: 5rem;
    margin: 2rem;
    width: calc(100vw/2 - 5%);
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

/* Container with one job - time header */
.exp-time {
    font-size: 2rem;
    font-weight: 900;
    margin: .5rem;
    margin-top: 1.5rem;
    color: var(--color3);
    text-decoration: underline;
    text-align: center;
}

/* Container with one job - title header */
.exp-title{
    font-size: 1.7rem;
    font-weight: 900;
    margin: .3rem;
    color: var(--color1);
    text-transform: uppercase;
    text-shadow: -1px 0 #000, 1px 0 #000, 0 -1px #000, 0 1px #000 ;
    text-align: center;
}

/* Container with one job - text */
.exp-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

/* Styling li */
.exp-inside-container li{
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    margin: .5rem;
}

/* 
--------------------------------------
SKILLS SECTION
-------------------------------------- 
*/

/* Main styling for skills section */
section.skills{
    min-height : 50rem;
    background-color: var(--color5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    padding-bottom: 3rem;
}

/* Styling for description of this section */
.description-skills{
    width: 100vw;
    text-align: center;
    font-size: 6rem;
    margin: 3rem;
    margin-bottom: 3rem;
    margin-top: 12rem;
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
    color: var(--color3);
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff ;
}

/* CARD - Card styling */
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color1);
    margin: 2rem 3rem;
    width: 30rem;
    height: 35rem;
    border-radius: 5rem ;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.5);
}

/* CARD - Card styling after hover */
.card:hover{
    transform: scale(1.2);
}

/* CARD - Percent styling */
.card-percent {
    position: relative;
}

/* CARD - Percent svg styling */
.card svg{
    position: relative;
    width: 21rem;
    height: 21rem;
    transform: rotate(-90deg);
}

/* CARD - Percent svg styling - circle */
.card svg circle{
   width: 100%;
   height: 100%;
   fill: none;
   stroke: #fff ;
   stroke-width: 1rem;
   stroke-linecap: round;
}

/* CARD - Styling circle - black */
.card.black svg circle:last-of-type{
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke:black
}

/* CARD - Styling circle - red */
.card.red svg circle:last-of-type{
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke:red
}

/* CARD - Styling circle - green */
.card.green svg circle:last-of-type{
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke:green
}

/* CARD - Styling circle - blue */
.card.blue svg circle:last-of-type{
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke:blue
}

/* CARD - Styling circle - orange */
.card.orange svg circle:last-of-type{
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke:orange
}

/* CARD - Styling circle - yellow */
.card.yellow svg circle:last-of-type{
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke:yellow
}

/* CARD - Number of percentage styling */
.card .card-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}

/* CARD - Number of percentage styling number */
.card .card-number h3 {
    font-weight: 800;
    font-size: 3.5rem;
}

/* CARD - Number of percentage styling percent symbol */
.card .card-number h3 span {
    font-size: 2.5rem;
}

/* CARD - Card title styling */
.card .card-title h2 {
    margin: 2.5rem 0 0;
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--color3);
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff ;
}

/* 
--------------------------------------
HOBBY SECTION
-------------------------------------- 
*/

/* Main styling for hobby section */
section.hobby{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
}

/* Styling for description of this section */
.description-hobby{
    font-size: 5rem;
    margin: 1rem 0;
    margin-top: 12rem;
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
    color: var(--color3);
    text-shadow: -2px 0 #000, 2px 0 #000, 0 -2px #000, 0 2px #000 ;
}

/* Styling container(includes all cards)- lev1 */
.hobby-container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

/* Styling container (one card) - lev2 */
.hobby-container{
    display: flex;
    flex-direction: column;
    border: solid .5rem var(--color6);
    margin: 1rem;
    border-radius: 10rem;
}

/* Styling container (img + txt) - lev3 */
.hobby-container-inside{
    display: flex;
    align-items: center;
}

/* Styling img into lev3 container */
.hobby-container-inside img{
    width: 20vw;
    padding: 2rem;
    border-radius: 15rem; 
}

/* Styling img into lev3 container after hover */
.hobby-container-inside img:hover{
    transform: scale(1.02);
}

/* Styling txt into lev3 container */
.hobby-container-inside p{
    max-width: 25rem;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

/* Styling description into lev2 container */
.container-description-hobby{
    align-self: center;
    margin-top: 1rem;
    color: var(--color3);
    font-size: 3rem;
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
    margin: 1rem;
}

/* 
--------------------------------------
CONTACT SECTION
-------------------------------------- 
*/

/* Main styling for contact section */
section.contact{
    min-height : 50rem;
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
}

/* Styling for description of this section */
.description-contact{
    width: 100vw;
    text-align: center;
    font-size: 6rem;
    margin: 3rem;
    margin-bottom: 1rem;
    margin-top: 12rem;
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
    color: var(--color3);
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff ;
}

/* Form styling 1lev container */
form {
    background-color: var(--color1);
    display: flex;
    margin: 1rem;
    border-radius: 3rem;
    border: solid 2px black;
}

/* Left side of form (name,surname etc.) 2lev container */
.form-one-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Right side of form (textarea, submit button) 2lev container */
.form-two-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for each element in form */
form *{
    margin: 1rem
}

/* Styling for sex selection */
.sex{
    text-align: center;
}

/* Styling for textarea */
.form-two-container textarea {
    width: 40vw;
    max-width: 70rem;
    height: 30rem;
    resize:none ;
}

/* Styling submit button */
.form-two-container input {
    font-weight: 900;
    font-size: 2.5rem;
    background-color: var(--color5);
    border: solid .5rem var(--color3);
    cursor: pointer;
}

/* Space needed for animated thanks */
.space {
    height: var(--height);
    position: relative;
}

/* Styling for text "THANK YOU" + relative position + animation SCALE */
.thanks {
    position: relative;
    left:0;
    top: calc( var(--height) - 1.5 * var(--height) );
    transform: translateY(-50%);
    animation: scale 20s; 
    animation-iteration-count: infinite;
}

/* Styling for letters container + animation SPIN */
.thanks p {
    color: var(--color3);
    letter-spacing: 0rem;
    font-size: 5rem;
    overflow: hidden;
    animation: spin 20s; 
    animation-iteration-count: infinite;
}

/* Styling each letter */
.letters span:nth-child(1){
    position:relative;
    animation: animateLetters 10s;
    animation-iteration-count: infinite;
    color: red;
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
}

/* Styling each letter */
.letters span:nth-child(2){
    position:relative;
    animation: animateLetters 10s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
    color: green;
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
}

/* Styling each letter */
.letters span:nth-child(3){
    position:relative;
    animation: animateLetters 10s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    color: blue;
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
}

/* Styling each letter */
.letters span:nth-child(4){
    position:relative;
    animation: animateLetters 10s;
    animation-delay: 0.75s;
    animation-iteration-count: infinite;
    color: orange;
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
}

/* Styling each letter */
.letters span:nth-child(5){
    position:relative;
    animation: animateLetters 10s;
    animation-delay: 1.00s;
    animation-iteration-count: infinite;
    color: yellow;
    text-shadow: -1px 0 #000, 1px 0 #000, 0 -1px #000, 0 1px #000;
}

/* Styling each letter */
.letters span:nth-child(6){
    position:relative;
    animation: animateLetters 10s;
    animation-delay: 1.25s;
    animation-iteration-count: infinite;
    color: black;
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
}

/* Styling each letter */
.letters span:nth-child(7){
    position:relative;
    animation: animateLetters 10s;
    animation-delay: 1.50s;
    animation-iteration-count: infinite;
    color: purple;
    text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
}

/* Styling each letter */
.letters span:nth-child(8){
    position:relative;
    animation: animateLetters 10s;
    animation-delay: 1.75s;
    animation-iteration-count: infinite;
    color: white;
    text-shadow: -1px 0 #000, 1px 0 #000, 0 -1px #000, 0 1px #000;
}

/* Animation for appear and disappear letters */
@keyframes animateLetters {
    0% {
        bottom: -100px;
    }

    25% {
        bottom: 0px;
    }

    75% {
        bottom: 0px;
    }

    100% {
        bottom: -100px;
    }
}

/* Animation for spining */
@keyframes spin {
    0% {transform:rotate(0deg)}

    25% {transform:rotate(360deg)}

    50% {transform:rotate(-0deg)}

    100% {transform:rotate(360deg)}
}

/* Animation for scaling */
@keyframes scale {
    0% {transform:scale(1)}

    20% {transform:scale(1.5)}

    60% {transform:scale(1)}

    80% {transform:scale(1.5)}

    100% {transform:scale(1)}
}

/* 
----------------------------------------------------------------------------------------------------------------------------------------------
END MAIN
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/

/* 
----------------------------------------------------------------------------------------------------------------------------------------------
START FOOTER
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/

/* 
--------------------------------------
WHOLE FOOTER
-------------------------------------- 
*/

footer{
    background-color: var(--color1);
    min-height: 10rem;
    width: var(--main-width);
}

/* 
--------------------------------------
CONTEXT FOOTER
-------------------------------------- 
*/

/* Main container (1st level) for context footer */
.container-context-footer{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.5rem;
}

/* Each container (2nd level) inside main container */
.container-context-footer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling all items in 2nd level container */
.container-context-footer-items > * {
    padding: 0.2rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color3);
    font-weight: 600;
}

/* Styling "about me" link in footer */
a.footer-aboutme {
    font-weight: 900;
    font-size: 1.6rem;
}

/* Styling menu in footer */
.container-context-footer-items:first-child{
    align-items: flex-start;
}

/* Styling menu's links in footer */
.container-context-footer-items a {
    margin: 0.5rem;
}

/* Styling headers in footer */
.container-context-footer-items h3 {
    margin-bottom: 1rem;
}

/* Styling lists in footer */
.container-context-footer-items h4 {
    display: list-item;
    list-style-type: disc;
    margin: 0.3rem;
}

/* 
--------------------------------------
SOCIAL MEDIA FOOTER
-------------------------------------- 
*/

/* Container for social icons */
.container-social-footer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem;
}

/* Styling social-ico */
.fa {
    padding: 2rem;
    font-size: 3rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 1rem 6rem;
  }
/* Styling social-ico hover */
.fa:hover {
opacity: 0.7;
}

/* Linkedin ico colors */
.fa-linkedin {
    background: #007bb6;
    color: white;
}

/* GitHub ico colors */
.fa-github {
    background: #000;
    color: white;
}

/* Facebook ico colors */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
/* Twitter ico colors */
.fa-twitter {
    background: #55ACEE;
    color: white;
    }   

/* 
--------------------------------------
COPYRIGHT FOOTER
-------------------------------------- 
*/

.copyright{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
}

/* 
----------------------------------------------------------------------------------------------------------------------------------------------
END FOOTER
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/


/* 
----------------------------------------------------------------------------------------------------------------------------------------------
MEDIA QUERIES START
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/


@media only screen and (min-width: 1229px) and (max-width: 1386px) {

    /*
    ROOT
    */

    /*
    MENU
    */

    /*
    ABOUT ME
    */

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */

    /*
    HOBBY
    */

    /*
    CONTACT
    */

    /*
    FOOTER
    */

}

@media only screen and (min-width: 1070px) and (max-width: 1228px) {

    /*
    ROOT
    */


    /*
    MENU
    */

    /*
    ABOUT ME
    */

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */

    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside img{
        width: 30vw;
    }

    .hobby-container-inside p{
        max-width: 40vw;
    }

    /*
    CONTACT
    */

    /*
    FOOTER
    */

}

@media only screen and (min-width: 880px) and (max-width: 1070px) {


    /*
    ROOT
    */

    :root {
        --smile-offset:130px
    }

    /*
    MENU
    */

    /*
    ABOUT ME
    */

    .aboutme-text {
        font-size: 2rem;
        font-weight: 400;
    }

    .smile{
        font-size: 4rem;
    }

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */



    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside img{
        width: 30vw;
    }

    .hobby-container-inside p{
        max-width: 40vw;
    }

    /*
    CONTACT
    */

    /*
    FOOTER
    */

}

@media only screen and (min-width: 807px) and (max-width: 879px) {

    /*
    ROOT
    */

    :root {
        --smile-offset:120px
    }

    /*
    MENU
    */



    /*
    ABOUT ME
    */

    .aboutme-text {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .smile{
        font-size: 3.5rem;
    }

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */


    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside img{
        width: 30vw;
    }

    .hobby-container-inside p{
        max-width: 40vw;
    }

    /*
    CONTACT
    */

    /*
    FOOTER
    */
}

@media only screen and (min-width: 700px) and (max-width: 807px) {


    /*
    ROOT
    */

    :root {
        --smile-offset:240px
    }

    /*
    MENU
    */



    /*
    ABOUT ME
    */

    .aboutme-text {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .smile{
        font-size: 5rem;
    }

    section.aboutme{
        flex-direction: column;
    }

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */



    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside img{
        width: 30vw;
    }

    .hobby-container-inside p{
        max-width: 40vw;
    }

    /*
    CONTACT
    */



    /*
    FOOTER
    */

    .fa {
        margin: 1rem 1rem; 
    }

}

@media only screen and (min-width: 570px) and (max-width: 700px) {

    /*
    ROOT
    */

    :root {
        --smile-offset:240px;
        --height: 48rem;
    }

    /*
    MENU
    */



    /*
    ABOUT ME
    */

    .aboutme-text {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .smile{
        font-size: 5rem;
    }

    section.aboutme{
        flex-direction: column;
    }

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */



    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside img{
        width: 30vw;
    }

    .hobby-container-inside p{
        max-width: 40vw;
        font-size: 1.3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }

    /*
    CONTACT
    */

    .description-contact{
        font-size: 4rem;
    }
    
    form {
       flex-direction: column;
    }

    .thanks p {
        font-size: 4rem;
    }

    /*
    FOOTER
    */

    .fa {
        margin: 1rem 1rem; 
    }

}

@media only screen and (min-width: 466px) and (max-width: 570px) {


    /*
    ROOT
    */

    :root {
        --smile-offset:180px;
        --height: 48rem;
    }

    /*
    MENU
    */

    nav a {
        font-size: 2.0rem;
        margin: 0 2.2rem;
    
    }

    /*
    ABOUT ME
    */

    .aboutme-text {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .smile{
        font-size: 5rem;
    }

    section.aboutme{
        flex-direction: column;
    }

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */



    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside {
        flex-direction: column;
        align-content: center;
    }

    .hobby-container-inside img{
        width: 70vw;
    }

    .hobby-container-inside p{
        max-width: 60vw;
        font-size: 1.5rem;
        margin-right: 0rem;
    }

    .container-description-hobby{
        font-size: 2.5rem;
        margin-top: 2rem;   
    }

    /*
    CONTACT
    */

    .description-contact{
        font-size: 4rem;
    }
    
    form {
       flex-direction: column;
    }

    .thanks p {
        font-size: 4rem;
    }

    /*
    FOOTER
    */

    .fa {
        margin: 1rem 1rem; 
    }

}

@media only screen and (min-width: 458px) and (max-width: 465px) {


    /*
    ROOT
    */

    :root {
        --smile-offset:180px;
        --height: 48rem;
    }

    /*
    MENU
    */

    nav a {
        font-size: 2.0rem;
        margin: 0 1rem;
    }

    /*
    ABOUT ME
    */

    .aboutme-text {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .smile{
        font-size: 5rem;
    }

    section.aboutme{
        flex-direction: column;
    }

    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */



    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside {
        flex-direction: column;
        align-content: center;
    }

    .hobby-container-inside img{
        width: 70vw;
    }

    .hobby-container-inside p{
        max-width: 60vw;
        font-size: 1.5rem;
        margin-right: 0rem;
    }


    .container-description-hobby{
        font-size: 2.5rem;
        margin-top: 2rem; 
    }

    /*
    CONTACT
    */

    .description-contact{
        font-size: 4rem;
    }
    
    form {
       flex-direction: column;
    }

    .thanks p {
        font-size: 3.8rem;
    }

    /*
    FOOTER
    */

    .fa {
        margin: 1rem 1rem; 
    }

    .container-context-footer{
        flex-direction: column;
    }

    .container-context-footer-items{
        margin: 2rem 0;
    }

    .container-context-footer-items:first-child{
        align-items: center;
    }

    .container-context-footer-items:first-child *{
        font-size: 1.7rem;
    }

    a.footer-aboutme {
        font-size: 1.9rem;
    }

}

@media only screen and (min-width: 418px) and (max-width: 457px) {


    /*
    ROOT
    */

    :root {
        --smile-offset:140px;
        --height: 38rem;
    }

    /*
    MENU
    */

    nav a {
        font-size: 2.0rem;
        margin: 0 1rem;
    
    }

    /*
    ABOUT ME
    */

    section.aboutme{
        flex-direction: column;
    }

    .aboutme-text {
        font-size: 2rem;
        font-weight: 500;
    }

    .smile{
        font-size: 4rem;
    }

    .aboutme-photo-container:hover{
        transform: scale(1.05);  
    }


    /*
    EXPERIENCE
    */

    .exp-inside-container{
        width: 80vw;
    }

    /*
    SKILLS
    */



    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside {
        flex-direction: column;
        align-content: center;
    }

    .hobby-container-inside img{
        width: 70vw;
    }

    .hobby-container-inside p{
        max-width: 60vw;
        font-size: 1.5rem;
        margin-right: 0rem;
    }

    .container-description-hobby{
        font-size: 2.5rem;
        margin-top: 2rem; 
    }

    /*
    CONTACT
    */

    .description-contact{
        font-size: 3rem;
    }
    
    form {
       flex-direction: column;
    }

    .thanks p {
        font-size: 3rem;
    }

    /*
    FOOTER
    */

    .fa {
        margin: 1rem 1rem; 
    }

    .container-context-footer{
        flex-direction: column;
    }

    .container-context-footer-items{
        margin: 2rem 0;
    }

    .container-context-footer-items:first-child{
        align-items: center;
    }

    .container-context-footer-items:first-child *{
        font-size: 1.7rem;
    }

    a.footer-aboutme {
        font-size: 1.9rem;
    }

}

@media only screen and (min-width: 300px) and (max-width: 417px) {

    /*
    ROOT
    */

    :root {
        --smile-offset:100px;
        --height: 25rem;
    }

    /*
    MENU
    */

    nav a {
        font-size: 1.6rem;
        margin: 0 2rem;
    }

    /*
    ABOUT ME
    */

    section.aboutme{
        flex-direction: column;
    }

    .aboutme-photo-container:hover{
        transform: scale(1.05);  
    }

    .aboutme-photo-container img {
        width:  20rem;
    }
    
    .photo-name{
        font-size: 2.9rem;
    }
    
    .photo-title{
        font-size: 2.5rem;
    }

    .aboutme-text {
        font-size: 2rem;
        font-weight: 500;
    }

    .smile{
        font-size: 4rem;
    }


    /*
    EXPERIENCE
    */

    .description-exp {
        font-size: 3.8rem;
    }

    .exp-inside-container{
        width: 80vw;
    }


    /*
    SKILLS
    */

    .description-skills{
        font-size: 4rem;
    }

    /*
    HOBBY
    */

    .hobby-container{
        width: 80vw;
    }

    .hobby-container-inside {
        flex-direction: column;
        align-content: center;
    }

    .hobby-container-inside img{
        width: 70vw;
    }

    .hobby-container-inside p{
        max-width: 60vw;
        font-size: 1.5rem;
        margin-right: 0rem;
    }

    .container-description-hobby{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    /*
    CONTACT
    */

    .sex label {
        margin-left: 0;
    }

    .sex label label{
        display: block;
        text-align: left;
    }

    .description-contact{
        font-size: 2.5rem;
    }

    form {
        flex-direction: column;
    }
 

    .thanks p {
         font-size: 2rem;
    }

    /*
    FOOTER
    */

    .fa {
        margin: 1rem 6rem; 
    }
    
    a.footer-aboutme {
        font-size: 1.9rem;
    }

    .container-context-footer{
        flex-direction: column;
    }

    .container-context-footer-items{
        margin: 2rem 0;
    }

    .container-context-footer-items:first-child{
        align-items: center;
    }

    .container-context-footer-items:first-child *{
        font-size: 1.7rem;
    }

}
  
/* 
----------------------------------------------------------------------------------------------------------------------------------------------
MEDIA QUERIES END
---------------------------------------------------------------------------------------------------------------------------------------------- 
*/